<h2 class="sign-in">Please Sign In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field sign-in">
    <%= f.email_field :email, placeholder: "Email", required: true, autofocus: true %>
  </div>

  <div class="field sign-in">
    <%= f.password_field :password, placeholder: "Password", required: true, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="remember">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions sign-in">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<div class="sign-in bottom-link">
  <%= render "devise/shared/links" %>
</div>
