<p id="notice"><%= notice %></p>

<div class="container product show">
  <div class="jumbotron product-details">
    <h1 class="product-details"><%= @product.name %></h1>
    <%= image_tag(@product.image_url, alt: "Product Image" )%>
    <h2><%= @product.subtitle %></h2>
    <br /><p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
  </div> 

  <!--<h4>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </h4>-->

  <h4>
    <%= @product.description %>
  </h4>

  <h4>
    <strong>Note:</strong>
    <%= @product.note %>
  </h4>

  <h4>
    <strong>Price:</strong>
    <%= @product.price %>
  </h4>

</div>


<div>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
  

<div class="container product comment">
  <div class="jumbotron comment">
    <h2>Comments</h2>
    <%= render 'new_comment' %>
    <%= render 'comments' %>
    <%= will_paginate @comments, :page_links => false %>
  </div>
</div>
