<p id="notice"><%= notice %></p>

<div class="container product show">
  <div class="jumbotron product-details">
    <h1 class="product-details"><%= @product.name %></h1>
    <div class="container-slip">
      <%= image_tag(@product.image_url, alt: "Product Image", class: "product-img", data_caption: @product.subtitle) %>
    </div>
  </div> 

  <h4 class="product-desc">
    <%= @product.description %>
  </h4>

  <h4 class="product-note">
    <strong>Note:</strong>
    <%= @product.note %>
  </h4>

  <h4 class="product-price">
    <strong>Price:</strong>
    <%= number_to_currency(@product.price.to_i / 100.to_i) %>
  </h4>

  <br /><p class="average">Average Rating: <div class="rated average" data-score="<%= @product.average_rating %>"></div></p>

  <div class="pay-with-card">
    <%= form_tag "/payments/create" do %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>
  </div>

</div>


<div>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>



  

<div class="container product comment">
  <div class="jumbotron comment">
    <h2 class="comments">Comments</h2>
    <%= render 'new_comment' %>
    <%= render 'comments' %>
    <%= will_paginate @comments, :page_links => false %>
  </div>
</div>
