<div class="jumbotron">
  <h1><%= @product.name %></h1>
	<p id="notice"><%= notice %></p>
</div>

<div class="container show">
  <h4>
    <strong>Name:</strong>
    <%= @product.name %>
  </h4>

  <h4>
    <strong>Subtitle:</strong>
    <%= @product.subtitle %>
  </h4>

  <h4>
    <strong>Image url:</strong>
    <%= @product.image_url %>
  </h4>

  <h4>
    <strong>Description:</strong>
    <%= @product.description %>
  </h4>

  <h4>
    <strong>Note:</strong>
    <%= @product.note %>
  </h4>

  <h4>
    <strong>Price:</strong>
    <%= @product.price %>
  </h4>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
