<!DOCTYPE html>
<html>
<head>
  <title>Stitch Philly</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "fadeout" %>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//use.edgefonts.net/poiret-one.js"></script>

  <meta name="viewport" content="width=device-width, initial=scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav nav-bar">
	<div class="nav-collapse">
    <ul class="menu menu_item">
		  <li><%= link_to image_tag("home.png", height: '40', width: '40'), root_path %></li>
      <li><%= link_to image_tag("sweater.png", height: '40', width: '40'), products_path %></li>
		  <li><%= link_to image_tag("about.png", height: '40', width: '40'), about_path %></li>
		  <li><%= link_to image_tag("contact.png", height: '40', width: '40'), contact_path %></li>
      <li class="navbar-form navbar-right search-form" role="search"><%= form_tag("/products", method: "get") do %>
            <%= text_field_tag(:q, placeholder="Search for...") %>
            <%= submit_tag("") %>
          <% end %>
      </li>
    </ul>
    <ul class="nav pull-left">
      <li class="login">
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <% else %>
          <%= link_to('Login', new_user_session_path) %>
        <% end %>
      </li>
    </ul>
	</div>
</div>

<div class="notice-alert">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<%= yield %>

<div class="container">
  <div class="row">

  </div>
</div>

<div class="footer template">
	<p>&copy; 2016 Stitch Philly</p>
</div>

<!-- JAVASCRIPT FILES -->


</body>
</html>
