<!DOCTYPE html>
<html>
<head>
  <title>Nameofapp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//use.edgefonts.net/poiret-one.js"></script> 

  <meta name="viewport" content="width=device-width, initial=scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav nav-bar">
	<ul>
		<li><a href="/static_pages/index"><%= image_tag("home.png", height: '40', width: '40') %></a></li>
		<li><a href="/static_pages/about"><%= image_tag("about.png", height: '40', width: '40') %></a></li>
		<li><a href="/static_pages/contact"><%= image_tag("contact.png", height: '40', width: '40') %></a></li>
	</ul>
</div>

<%= yield %>

<div class="container">
  <div class="row">

  </div>
</div>

<div class="footer">
	<p>&copy; 2015 Stitch Philly</p>
</div>

<!-- JAVASCRIPT FILES -->


</body>
</html>
